<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="classSubject">
      <h2 data-cy="classSubjectDetailsHeading"><span jhiTranslate="manageitApp.classSubject.detail.title">Class Subject</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
<!--         <dt><span jhiTranslate="global.field.id">ID</span></dt> -->
<!--         <dd> -->
<!--           <span>{{ classSubject.id }}</span> -->
<!--         </dd> -->
        <dt><span jhiTranslate="manageitApp.classSubject.subjectName">Subject Name</span></dt>
        <dd>
          <span>{{ classSubject.subjectName }}</span>
        </dd>
<!--         <dt><span jhiTranslate="manageitApp.classSubject.createDate">Create Date</span></dt> -->
<!--         <dd> -->
<!--           <span>{{ classSubject.createDate | formatMediumDate }}</span> -->
<!--         </dd> -->
<!--         <dt><span jhiTranslate="manageitApp.classSubject.lastModified">Last Modified</span></dt> -->
<!--         <dd> -->
<!--           <span>{{ classSubject.lastModified | formatMediumDate }}</span> -->
<!--         </dd> -->
<!--         <dt><span jhiTranslate="manageitApp.classSubject.cancelDate">Cancel Date</span></dt> -->
<!--         <dd> -->
<!--           <span>{{ classSubject.cancelDate | formatMediumDate }}</span> -->
<!--         </dd> -->
        <dt><span jhiTranslate="manageitApp.classSubject.schoolClass">School Class</span></dt>
        <dd>
          <span *ngFor="let schoolClass of classSubject.schoolClasses; let last = last">
            <a [routerLink]="['/school-class', schoolClass?.id, 'view']">{{ schoolClass.className }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

<!--       <button type="button" [routerLink]="['/class-subject', classSubject.id, 'edit']" class="btn btn-primary"> -->
<!--         <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span> -->
<!--       </button> -->
    </div>
  </div>
</div>
