<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tag-heading" data-cy="TagCreateUpdateHeading" jhiTranslate="manageitApp.tag.home.createOrEditLabel">
        Create or edit a Tag
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="manageitApp.tag.tagText" for="field_tagText">Tag Text</label>
          <input type="text" class="form-control" name="tagText" id="field_tagText" data-cy="tagText" formControlName="tagText" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="manageitApp.tag.tagLevel" for="field_tagLevel">Tag Level</label>
          <select class="form-control" name="tagLevel" formControlName="tagLevel" id="field_tagLevel" data-cy="tagLevel">
            <option [ngValue]="null">{{ 'manageitApp.TagLevel.null' | translate }}</option>
            <option *ngFor="let tagLevel of tagLevelValues" [value]="tagLevel">{{ 'manageitApp.TagLevel.' + tagLevel | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="manageitApp.tag.createDate" for="field_createDate">Create Date</label>
          <div class="input-group">
            <input
              id="field_createDate"
              data-cy="createDate"
              type="text"
              class="form-control"
              name="createDate"
              ngbDatepicker
              #createDateDp="ngbDatepicker"
              formControlName="createDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="createDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="manageitApp.tag.lastModified" for="field_lastModified">Last Modified</label>
          <div class="input-group">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="text"
              class="form-control"
              name="lastModified"
              ngbDatepicker
              #lastModifiedDp="ngbDatepicker"
              formControlName="lastModified"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="lastModifiedDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="manageitApp.tag.cancelDate" for="field_cancelDate">Cancel Date</label>
          <div class="input-group">
            <input
              id="field_cancelDate"
              data-cy="cancelDate"
              type="text"
              class="form-control"
              name="cancelDate"
              ngbDatepicker
              #cancelDateDp="ngbDatepicker"
              formControlName="cancelDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="cancelDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="manageitApp.tag.tenant" for="field_tenant">Tenant</label>
          <select class="form-control" id="field_tenant" data-cy="tenant" name="tenant" formControlName="tenant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="tenantOption.id === editForm.get('tenant')!.value?.id ? editForm.get('tenant')!.value : tenantOption"
              *ngFor="let tenantOption of tenantsSharedCollection; trackBy: trackTenantById"
            >
              {{ tenantOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
