<div>
  <h2 id="page-heading" data-cy="ClassLessionPlanTrackHeading">
    <span jhiTranslate="manageitApp.classLessionPlanTrack.home.title">Class Lession Plan Tracks</span>

    <div class="d-flex justify-content-end">
<!--       <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading"> -->
<!--         <fa-icon icon="sync" [spin]="isLoading"></fa-icon> -->
<!--         <span jhiTranslate="manageitApp.classLessionPlanTrack.home.refreshListLabel">Refresh List</span> -->
<!--       </button> -->

<!--       <button -->
<!--         id="jh-create-entity" -->
<!--         data-cy="entityCreateButton" -->
<!--         class="btn btn-primary jh-create-entity create-class-lession-plan-track" -->
<!--         [routerLink]="['/class-lession-plan-track/new']" -->
<!--       > -->
<!--         <fa-icon icon="plus"></fa-icon> -->
<!--         <span jhiTranslate="manageitApp.classLessionPlanTrack.home.createLabel"> Create a new Class Lession Plan Track </span> -->
<!--       </button> -->
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <div class="form-group">
          <label class="form-control-label">Start Date</label>
          <div class="input-group">
            <input
              id="field_astartDate"
              data-cy="astartDate"
              type="text"
              class="form-control"
              name="astartDate"
              ngbDatepicker
              #astartDateDp="ngbDatepicker"
              [(ngModel)]="startDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="astartDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        
        </div>
        
           <label class="form-control-label" >End Date</label>
          <div class="input-group">
            <input
              id="field_aendDate"
              data-cy="aendDate"
              type="text"
              class="form-control"
              name="aendDate"
              ngbDatepicker
              #aendDateDp="ngbDatepicker"
              [(ngModel)]="endDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="aendDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
  <jhi-class-dropdown *jhiHasAnyAuthority="'ROLE_SCHOOL_TEACHER'" [callbackFunction]="getClassIdCallBack"></jhi-class-dropdown>
  <jhi-subject-dropdown *jhiHasAnyAuthority="'ROLE_SCHOOL_STUDENT'" [classId] = "selectedClassId" [callbackFunction]="getSubjectIdCallBack"></jhi-subject-dropdown>
	<div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="fetchLessionPlan()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span >Fetch</span>
      </button>
      </div>
  <div class="alert alert-warning" id="no-result" *ngIf="classLessionPlanTracks?.length === 0">
    <span jhiTranslate="manageitApp.classLessionPlanTrack.home.notFound">No classLessionPlanTracks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="classLessionPlanTracks && classLessionPlanTracks.length > 0">
   <div class="d-flex justify-content-end">
    <button type="submit" (click)="saveAll()"  [disabled]="lessionPlanMarked()" class="btn btn-warning btn-sm" data-cy="entityPresentButton">
                <span class="d-none d-md-inline" >Final Submit</span>
              </button>
                </div>	
 
 
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" >
          <th scope="col" jhiSortBy="workStatus">
            <span jhiTranslate="manageitApp.classLessionPlanTrack.workStatus">Work Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="remarks">
            <span jhiTranslate="manageitApp.classLessionPlanTrack.remarks">Remarks</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createDate">
            <span jhiTranslate="manageitApp.classLessionPlanTrack.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="classLessionPlan.id">
            <span jhiTranslate="manageitApp.classLessionPlanTrack.classLessionPlan">Class Lession Plan</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classLessionPlanTrack of classLessionPlanTracks; trackBy: trackId" data-cy="entityTable">
          <td [ngClass]="classLessionPlanTrack.workStatus==='OnTrack'? 'table-success': classLessionPlanTrack.workStatus==='OffTrack' ?  'table-danger':'table-warning' "   jhiTranslate="{{ 'manageitApp.TaskStatus.' + classLessionPlanTrack.workStatus }}">{{ classLessionPlanTrack.workStatus }}</td>
          <td>{{ classLessionPlanTrack.remarks }}</td>
          <td>{{ classLessionPlanTrack.createDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="classLessionPlanTrack.classLessionPlan">
              <a [routerLink]="['/class-lession-plan', classLessionPlanTrack.classLessionPlan?.id, 'view']">{{
                classLessionPlanTrack.classLessionPlan?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
 
              <button *jhiHasAnyAuthority="'ROLE_SCHOOL_TEACHER'" [disabled]=classLessionPlanTrack.cancelDate?true:false type="submit" (click)="save(classLessionPlanTrack,'InProgress')" class="btn btn-info btn-sm" data-cy="entityDeleteButton">
                <span class="d-none d-md-inline">In Progress</span>
              </button>

              <button *jhiHasAnyAuthority="'ROLE_SCHOOL_TEACHER'" [disabled]=classLessionPlanTrack.cancelDate?true:false  type="submit" (click)="save(classLessionPlanTrack,'OnTrack')" class="btn btn-success btn-sm" data-cy="entityDeleteButton">
                <span class="d-none d-md-inline">OnTrack</span>
              </button>
              <button *jhiHasAnyAuthority="'ROLE_SCHOOL_TEACHER'" [disabled]=classLessionPlanTrack.cancelDate?true:false  type="submit" (click)="save(classLessionPlanTrack,'OffTrack')" class="btn btn-warning btn-sm" data-cy="entityDeleteButton">
                <span class="d-none d-md-inline">OffTrack</span>
              </button>
<!--               <button -->
<!--                 type="submit" -->
<!--                 [routerLink]="['/class-lession-plan-track', classLessionPlanTrack.id, 'edit']" -->
<!--                 class="btn btn-primary btn-sm" -->
<!--                 data-cy="entityEditButton" -->
<!--               > -->
<!--                 <fa-icon icon="pencil-alt"></fa-icon> -->
<!--                 <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> -->
<!--               </button> -->

<!--               <button type="submit" (click)="delete(classLessionPlanTrack)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton"> -->
<!--                 <fa-icon icon="times"></fa-icon> -->
<!--                 <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span> -->
<!--               </button> -->
              
              
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!--   <div *ngIf="classLessionPlanTracks && classLessionPlanTracks.length > 0"> -->
<!--     <div class="row justify-content-center"> -->
<!--       <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count> -->
<!--     </div> -->

<!--     <div class="row justify-content-center"> -->
<!--       <ngb-pagination -->
<!--         [collectionSize]="totalItems" -->
<!--         [(page)]="ngbPaginationPage" -->
<!--         [pageSize]="itemsPerPage" -->
<!--         [maxSize]="5" -->
<!--         [rotate]="true" -->
<!--         [boundaryLinks]="true" -->
<!--         (pageChange)="loadPage($event)" -->
<!--       ></ngb-pagination> -->
<!--     </div> -->
<!--   </div> -->
</div>
