<div>
  <h2 id="page-heading" data-cy="SchoolNotificationsHeading">
    <span jhiTranslate="manageitApp.schoolNotifications.home.title">School Notifications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="manageitApp.schoolNotifications.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-school-notifications"
        [routerLink]="['/school-notifications/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="manageitApp.schoolNotifications.home.createLabel"> Create a new School Notifications </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="schoolNotifications?.length === 0">
    <span jhiTranslate="manageitApp.schoolNotifications.home.notFound">No schoolNotifications found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="schoolNotifications && schoolNotifications.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="notificationTitle">
            <span jhiTranslate="manageitApp.schoolNotifications.notificationTitle">Notification Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notificationDetails">
            <span jhiTranslate="manageitApp.schoolNotifications.notificationDetails">Notification Details</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notificationFile">
            <span jhiTranslate="manageitApp.schoolNotifications.notificationFile">Notification File</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schoolNotifications of schoolNotifications; trackBy: trackId" data-cy="entityTable">
          <td>{{ schoolNotifications.notificationTitle }}</td>
          <td>{{ schoolNotifications.notificationDetails }}</td>
          <td>
            <a
              *ngIf="schoolNotifications.notificationFile"
              (click)="openFile(schoolNotifications.notificationFile, schoolNotifications.notificationFileContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="schoolNotifications.notificationFile"
              >{{ schoolNotifications.notificationFileContentType }}, {{ byteSize(schoolNotifications.notificationFile) }}</span
            >
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/school-notifications', schoolNotifications.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/school-notifications', schoolNotifications.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(schoolNotifications)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="schoolNotifications && schoolNotifications.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
