<div class="row justify-content-center">
  <div class="col-8">
       <h2
        id="jhi-class-home-work-heading"
        data-cy="ClassHomeWorkCreateUpdateHeading"
        jhiTranslate="manageitApp.classHomeWork.home.createOrEditLabel"
      >
        Create or edit a Class Home Work
      </h2>
  
          <div class="form-group">
            <jhi-class-subject-dropdown [callbackFunction]="loadAllChapterForASubjectCallback"></jhi-class-subject-dropdown>
        </div>
        
        <div class="form-group">
            <label class="form-control-label" >Select Chapter</label>
			  <select
			    class="form-control"
			    id="field_subjectChapter1"
			    data-cy="subjectChapter1"
			    [(ngModel)]="selectedChapter"
			    (change)="loadAllSectionForAChapter()"
			    name="subjectChapterFilter"
			  >
			    <option [ngValue]="null">Select Chapter</option>
			    <option
			      *ngFor="let subjectChapterOption of subjectChapters trackBy: trackFilterChapterByIdCommon"
			      [ngValue]="subjectChapterOption.id"
			    >
			      {{ subjectChapterOption.id }} -- {{ subjectChapterOption.chapterName }}
			    </option>
			  </select>    
			      
		</div>
  
  
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

       <div class="form-group">
          <label class="form-control-label" jhiTranslate="manageitApp.classHomeWork.chapterSection" for="field_chapterSection"
            >Chapter Section</label
          >
          <select
            class="form-control"
            id="field_chapterSection"
            data-cy="chapterSection"
            name="chapterSection"
            formControlName="chapterSection"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                chapterSectionOption.id === editForm.get('chapterSection')!.value?.id
                  ? editForm.get('chapterSection')!.value
                  : chapterSectionOption
              "
              *ngFor="let chapterSectionOption of chapterSectionsSharedCollection; trackBy: trackChapterSectionById"
            >
              {{ chapterSectionOption.sectionName }}
            </option>
          </select>
                    <div
            *ngIf="
              editForm.get('chapterSection')!.invalid &&
              (editForm.get('chapterSection')!.dirty || editForm.get('chapterSection')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('chapterSection')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
          
        </div>


      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

  
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="manageitApp.classHomeWork.schoolDate" for="field_schoolDate">School Date</label>
          <div class="input-group">
            <input
              id="field_schoolDate"
              data-cy="schoolDate"
              type="text"
              class="form-control"
              name="schoolDate"
              ngbDatepicker
              #schoolDateDp="ngbDatepicker"
              formControlName="schoolDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="schoolDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div *ngIf="editForm.get('schoolDate')!.invalid && (editForm.get('schoolDate')!.dirty || editForm.get('schoolDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('schoolDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="manageitApp.classHomeWork.studentAssignmentType" for="field_studentAssignmentType"
            >Student Assignment Type</label
          >
          <select
            class="form-control"
            name="studentAssignmentType"
            formControlName="studentAssignmentType"
            id="field_studentAssignmentType"
            data-cy="studentAssignmentType"
          >
            <option [ngValue]="null">{{ 'manageitApp.StudentAssignmentType.null' | translate }}</option>
            <option value="READING_WRITING">{{ 'manageitApp.StudentAssignmentType.READING_WRITING' | translate }}</option>
            <option value="PROJECT">{{ 'manageitApp.StudentAssignmentType.PROJECT' | translate }}</option>
          </select>
          <div
            *ngIf="
              editForm.get('studentAssignmentType')!.invalid &&
              (editForm.get('studentAssignmentType')!.dirty || editForm.get('studentAssignmentType')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('studentAssignmentType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="manageitApp.classHomeWork.homeWorkText" for="field_homeWorkText"
            >Home Work Text</label
          >
          <input
            type="text"
            class="form-control"
            name="homeWorkText"
            id="field_homeWorkText"
            data-cy="homeWorkText"
            formControlName="homeWorkText"
          />
          <div
            *ngIf="editForm.get('homeWorkText')!.invalid && (editForm.get('homeWorkText')!.dirty || editForm.get('homeWorkText')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('homeWorkText')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('homeWorkText')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 1000 }"
            >
              This field cannot be longer than 1000 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="manageitApp.classHomeWork.homeWorkFile" for="field_homeWorkFile"
            >Home Work File</label
          >
          <div>
            <div *ngIf="editForm.get('homeWorkFile')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-left"
                (click)="openFile(editForm.get('homeWorkFile')!.value, editForm.get('homeWorkFileContentType')!.value)"
                jhiTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-left"
                >{{ editForm.get('homeWorkFileContentType')!.value }}, {{ byteSize(editForm.get('homeWorkFile')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ homeWorkFile: null }); editForm.patchValue({ homeWorkFileContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_homeWorkFile"
              data-cy="homeWorkFile"
              (change)="setFileData($event, 'homeWorkFile', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="homeWorkFile"
            id="field_homeWorkFile"
            data-cy="homeWorkFile"
            formControlName="homeWorkFile"
          />
          <input
            type="hidden"
            class="form-control"
            name="homeWorkFileContentType"
            id="field_homeWorkFileContentType"
            formControlName="homeWorkFileContentType"
          />
        </div>

<!--         <div class="form-group"> -->
<!--           <label class="form-control-label" jhiTranslate="manageitApp.classHomeWork.homeWorkFileLink" for="field_homeWorkFileLink" -->
<!--             >Home Work File Link</label -->
<!--           > -->
<!--           <input -->
<!--             type="text" -->
<!--             class="form-control" -->
<!--             name="homeWorkFileLink" -->
<!--             id="field_homeWorkFileLink" -->
<!--             data-cy="homeWorkFileLink" -->
<!--             formControlName="homeWorkFileLink" -->
<!--           /> -->
<!--         </div> -->

<!--         <div class="form-group"> -->
<!--           <label class="form-control-label" jhiTranslate="manageitApp.classHomeWork.assign" for="field_assign">Assign</label> -->
<!--           <input type="checkbox" class="form-check" name="assign" id="field_assign" data-cy="assign" formControlName="assign" /> -->
<!--         </div> -->

<!--         <div class="form-group"> -->
<!--           <label class="form-control-label" jhiTranslate="manageitApp.classHomeWork.createDate" for="field_createDate">Create Date</label> -->
<!--           <div class="input-group"> -->
<!--             <input -->
<!--               id="field_createDate" -->
<!--               data-cy="createDate" -->
<!--               type="text" -->
<!--               class="form-control" -->
<!--               name="createDate" -->
<!--               ngbDatepicker -->
<!--               #createDateDp="ngbDatepicker" -->
<!--               formControlName="createDate" -->
<!--             /> -->
<!--             <span class="input-group-append"> -->
<!--               <button type="button" class="btn btn-secondary" (click)="createDateDp.toggle()"> -->
<!--                 <fa-icon icon="calendar-alt"></fa-icon> -->
<!--               </button> -->
<!--             </span> -->
<!--           </div> -->
<!--         </div> -->

<!--         <div class="form-group"> -->
<!--           <label class="form-control-label" jhiTranslate="manageitApp.classHomeWork.lastModified" for="field_lastModified" -->
<!--             >Last Modified</label -->
<!--           > -->
<!--           <div class="input-group"> -->
<!--             <input -->
<!--               id="field_lastModified" -->
<!--               data-cy="lastModified" -->
<!--               type="text" -->
<!--               class="form-control" -->
<!--               name="lastModified" -->
<!--               ngbDatepicker -->
<!--               #lastModifiedDp="ngbDatepicker" -->
<!--               formControlName="lastModified" -->
<!--             /> -->
<!--             <span class="input-group-append"> -->
<!--               <button type="button" class="btn btn-secondary" (click)="lastModifiedDp.toggle()"> -->
<!--                 <fa-icon icon="calendar-alt"></fa-icon> -->
<!--               </button> -->
<!--             </span> -->
<!--           </div> -->
<!--         </div> -->

<!--         <div class="form-group"> -->
<!--           <label class="form-control-label" jhiTranslate="manageitApp.classHomeWork.cancelDate" for="field_cancelDate">Cancel Date</label> -->
<!--           <div class="input-group"> -->
<!--             <input -->
<!--               id="field_cancelDate" -->
<!--               data-cy="cancelDate" -->
<!--               type="text" -->
<!--               class="form-control" -->
<!--               name="cancelDate" -->
<!--               ngbDatepicker -->
<!--               #cancelDateDp="ngbDatepicker" -->
<!--               formControlName="cancelDate" -->
<!--             /> -->
<!--             <span class="input-group-append"> -->
<!--               <button type="button" class="btn btn-secondary" (click)="cancelDateDp.toggle()"> -->
<!--                 <fa-icon icon="calendar-alt"></fa-icon> -->
<!--               </button> -->
<!--             </span> -->
<!--           </div> -->
<!--         </div> -->

         
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
