<div>
  <h2 id="page-heading" data-cy="ClassLessionPlanHeading">
    <span jhiTranslate="manageitApp.classLessionPlan.home.title">Class Lession Plans</span>

    <div class="d-flex justify-content-end">
<!--       <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading"> -->
<!--         <fa-icon icon="sync" [spin]="isLoading"></fa-icon> -->
<!--         <span jhiTranslate="manageitApp.classLessionPlan.home.refreshListLabel">Refresh List</span> -->
<!--       </button> -->

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-class-lession-plan"
        [routerLink]="['/class-lession-plan/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="manageitApp.classLessionPlan.home.createLabel"> Create a new Class Lession Plan </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
         <div class="form-group">
          
            
  
        <div class="form-group">
          <label class="form-control-label">Start Date</label>
          <div class="input-group">
            <input
              id="field_astartDate"
              data-cy="astartDate"
              type="text"
              class="form-control"
              name="astartDate"
              ngbDatepicker
              #astartDateDp="ngbDatepicker"
              [(ngModel)]="attendanceDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="astartDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        
        </div>
        
           <label class="form-control-label" >End Date</label>
          <div class="input-group">
            <input
              id="field_aendDate"
              data-cy="aendDate"
              type="text"
              class="form-control"
              name="aendDate"
              ngbDatepicker
              #aendDateDp="ngbDatepicker"
              [(ngModel)]="attendanceEndDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="aendDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          
          
          
          
            <jhi-class-subject-dropdown [callbackFunction]="loadAllChapterForASubjectCallback"></jhi-class-subject-dropdown>
        </div>
  <div class="alert alert-warning" id="no-result" *ngIf="classLessionPlans?.length === 0">
    <span jhiTranslate="manageitApp.classLessionPlan.home.notFound">No classLessionPlans found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="classLessionPlans && classLessionPlans.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="schoolDate">
            <span jhiTranslate="manageitApp.classLessionPlan.schoolDate">School Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="classWorkText">
            <span jhiTranslate="manageitApp.classLessionPlan.classWorkText">Class Work Text</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="homeWorkText">
            <span jhiTranslate="manageitApp.classLessionPlan.homeWorkText">Home Work Text</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="workStatus">
            <span jhiTranslate="manageitApp.classLessionPlan.workStatus">Work Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lesionPlanFile">
            <span jhiTranslate="manageitApp.classLessionPlan.lesionPlanFile">Lesion Plan File</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="chapterSection.id">
            <span jhiTranslate="manageitApp.classLessionPlan.chapterSection">Chapter Section</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classLessionPlan of classLessionPlans; trackBy: trackId" data-cy="entityTable">
          <td>{{ classLessionPlan.schoolDate | formatMediumDate }}</td>
          <td>{{ classLessionPlan.classWorkText }}</td>
          <td>{{ classLessionPlan.homeWorkText }}</td>
          <td jhiTranslate="{{ 'manageitApp.TaskStatus.' + classLessionPlan.workStatus }}">{{ classLessionPlan.workStatus }}</td>
          <td>
            <a
              *ngIf="classLessionPlan.lesionPlanFile"
              (click)="openFile(classLessionPlan.lesionPlanFile, classLessionPlan.lesionPlanFileContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="classLessionPlan.lesionPlanFile"
              >{{ classLessionPlan.lesionPlanFileContentType }}, {{ byteSize(classLessionPlan.lesionPlanFile) }}</span
            >
          </td>
          <td>
            <div *ngIf="classLessionPlan.chapterSection">
              <a [routerLink]="['/chapter-section', classLessionPlan.chapterSection?.id, 'view']">
              
              
              {{ 
                classLessionPlan.chapterSection?.sectionName
              }}
              
               </a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">

<!--               <button -->
<!--                 type="submit" -->
<!--                 [routerLink]="['/class-lession-plan', classLessionPlan.id, 'edit']" -->
<!--                 class="btn btn-primary btn-sm" -->
<!--                 data-cy="entityEditButton" -->
<!--               > -->
<!--                 <fa-icon icon="pencil-alt"></fa-icon> -->
<!--                 <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> -->
<!--               </button> -->
              <button type="submit" (click)="delete(classLessionPlan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>

            </div>
            
             
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!--   <div *ngIf="classLessionPlans && classLessionPlans.length > 0"> -->
<!--     <div class="row justify-content-center"> -->
<!--       <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count> -->
<!--     </div> -->

<!--     <div class="row justify-content-center"> -->
<!--       <ngb-pagination -->
<!--         [collectionSize]="totalItems" -->
<!--         [(page)]="ngbPaginationPage" -->
<!--         [pageSize]="itemsPerPage" -->
<!--         [maxSize]="5" -->
<!--         [rotate]="true" -->
<!--         [boundaryLinks]="true" -->
<!--         (pageChange)="loadPage($event)" -->
<!--       ></ngb-pagination> -->
<!--     </div> -->
<!--   </div> -->
</div>
