<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-class-subject-heading"
        data-cy="ClassSubjectCreateUpdateHeading"
        jhiTranslate="manageitApp.classSubject.home.createOrEditLabel"
      >
        Create or edit a Class Subject
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="manageitApp.classSubject.subjectName" for="field_subjectName">Subject Name</label>
          <input
            type="text"
            class="form-control"
            name="subjectName"
            id="field_subjectName"
            data-cy="subjectName"
            formControlName="subjectName"
          />
          <div *ngIf="editForm.get('subjectName')!.invalid && (editForm.get('subjectName')!.dirty || editForm.get('subjectName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('subjectName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label jhiTranslate="manageitApp.classSubject.schoolClass" for="field_schoolClasses">School Class</label>
          <select
            class="form-control"
            id="field_schoolClasses"
            data-cy="schoolClass"
            multiple
            name="schoolClasses"
            formControlName="schoolClasses"
          >
            <option
              [ngValue]="getSelectedSchoolClass(schoolClassOption, editForm.get('schoolClasses')!.value)"
              *ngFor="let schoolClassOption of schoolClassesSharedCollection; trackBy: trackSchoolClassById"
            >
              {{ schoolClassOption.className }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
