<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="classClassWork">
      <h2 data-cy="classClassWorkDetailsHeading"><span jhiTranslate="manageitApp.classClassWork.detail.title">Class Class Work</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ classClassWork.id }}</span>
        </dd>
        <dt><span jhiTranslate="manageitApp.classClassWork.schoolDate">School Date</span></dt>
        <dd>
          <span>{{ classClassWork.schoolDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="manageitApp.classClassWork.studentAssignmentType">Student Assignment Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'manageitApp.StudentAssignmentType.' + classClassWork.studentAssignmentType }}">{{
            classClassWork.studentAssignmentType
          }}</span>
        </dd>
        <dt><span jhiTranslate="manageitApp.classClassWork.classWorkText">Class Work Text</span></dt>
        <dd>
          <span>{{ classClassWork.classWorkText }}</span>
        </dd>
        <dt><span jhiTranslate="manageitApp.classClassWork.classWorkFile">Class Work File</span></dt>
        <dd>
          <div *ngIf="classClassWork.classWorkFile">
            <a (click)="openFile(classClassWork.classWorkFile, classClassWork.classWorkFileContentType)" jhiTranslate="entity.action.open"
              >open</a
            >
            {{ classClassWork.classWorkFileContentType }}, {{ byteSize(classClassWork.classWorkFile) }}
          </div>
        </dd>
        <dt><span jhiTranslate="manageitApp.classClassWork.classWorkFileLink">Class Work File Link</span></dt>
        <dd>
          <span>{{ classClassWork.classWorkFileLink }}</span>
        </dd>
        <dt><span jhiTranslate="manageitApp.classClassWork.assign">Assign</span></dt>
        <dd>
          <span>{{ classClassWork.assign }}</span>
        </dd>
<!--         <dt><span jhiTranslate="manageitApp.classClassWork.createDate">Create Date</span></dt> -->
<!--         <dd> -->
<!--           <span>{{ classClassWork.createDate | formatMediumDate }}</span> -->
<!--         </dd> -->
<!--         <dt><span jhiTranslate="manageitApp.classClassWork.lastModified">Last Modified</span></dt> -->
<!--         <dd> -->
<!--           <span>{{ classClassWork.lastModified | formatMediumDate }}</span> -->
<!--         </dd> -->
<!--         <dt><span jhiTranslate="manageitApp.classClassWork.cancelDate">Cancel Date</span></dt> -->
<!--         <dd> -->
<!--           <span>{{ classClassWork.cancelDate | formatMediumDate }}</span> -->
<!--         </dd> -->
        <dt><span jhiTranslate="manageitApp.classClassWork.chapterSection">Chapter Section</span></dt>
        <dd>
          <div *ngIf="classClassWork.chapterSection">
            <a [routerLink]="['/chapter-section', classClassWork.chapterSection?.id, 'view']">{{ classClassWork.chapterSection?.sectionName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

<!--       <button type="button" [routerLink]="['/class-class-work', classClassWork.id, 'edit']" class="btn btn-primary"> -->
<!--         <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span> -->
<!--       </button> -->
    </div>
  </div>
</div>
