<div>
  <h2 id="page-heading" data-cy="ChapterSectionHeading">
    <span jhiTranslate="manageitApp.chapterSection.home.title">Chapter Sections</span>

    <div class="d-flex justify-content-end">
<!--       <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading"> -->
<!--         <fa-icon icon="sync" [spin]="isLoading"></fa-icon> -->
<!--         <span jhiTranslate="manageitApp.chapterSection.home.refreshListLabel">Refresh List</span> -->
<!--       </button> -->

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chapter-section"
        [routerLink]="['/chapter-section/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="manageitApp.chapterSection.home.createLabel"> Create a new Chapter Section </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-class-dropdown [callbackFunction]="getClassIdCallBack"></jhi-class-dropdown>
  <jhi-subject-dropdown [classId] = "selectedClassId" [callbackFunction]="getSubjectIdCallBack"></jhi-subject-dropdown>
  <jhi-chapter-dropdown [selectedSubjectId] = "selectedSubjectId" [callbackFunction]="getChapterIdCallBack"></jhi-chapter-dropdown>

  <div class="alert alert-warning" id="no-result" *ngIf="chapterSections?.length === 0">
    <span jhiTranslate="manageitApp.chapterSection.home.notFound">No chapterSections found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="chapterSections && chapterSections.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="sectionName">
            <span jhiTranslate="manageitApp.chapterSection.sectionName">Section Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chapterSection of chapterSections; trackBy: trackId" data-cy="entityTable">
          <td>{{ chapterSection.sectionName }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/chapter-section', chapterSection.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

<!--               <button -->
<!--                 type="submit" -->
<!--                 [routerLink]="['/chapter-section', chapterSection.id, 'edit']" -->
<!--                 class="btn btn-primary btn-sm" -->
<!--                 data-cy="entityEditButton" -->
<!--               > -->
<!--                 <fa-icon icon="pencil-alt"></fa-icon> -->
<!--                 <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> -->
<!--               </button> -->

              <button type="submit" (click)="delete(chapterSection)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!--   <div *ngIf="chapterSections && chapterSections.length > 0"> -->
<!--     <div class="row justify-content-center"> -->
<!--       <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count> -->
<!--     </div> -->

<!--     <div class="row justify-content-center"> -->
<!--       <ngb-pagination -->
<!--         [collectionSize]="totalItems" -->
<!--         [(page)]="ngbPaginationPage" -->
<!--         [pageSize]="itemsPerPage" -->
<!--         [maxSize]="5" -->
<!--         [rotate]="true" -->
<!--         [boundaryLinks]="true" -->
<!--         (pageChange)="loadPage($event)" -->
<!--       ></ngb-pagination> -->
<!--     </div> -->
<!--   </div> -->
</div>
