<br />
<div class="row">
<div class="col-md-12">
      <section class="alert alert-primary text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome to Shree Sai International</h1>
          <p class="lead text-muted">Affiliated to C.B.S.E(New Delhi), Aff. no.-330749, Kargahar, Sasaram(Bihar), email : shreesai0514@gmail.com, ph: 9801129799.</p>
        </div>
      </section>
</div>
</div>
<div class="row">
	<div class="col-md-12">
	<div class="alert alert-info">
	<marquee width="100%" direction="right" height="40px" >
	Admissions open for session 2022-23
	</marquee>
	</div>
	 </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="alert alert-success">
        <span
          >This School takes pride in the holistic and innovative learning methods which have helped them raise the bar in the field of
          education. The centre follows a well-researched curriculum that is based on the play way method of learning. This school offers
          education for children in different age groups. There are a host of other supplementary activities that children can enroll in to
          enhance their skill set. Undoubtedly it is one of the best Schools in Kargahar, Rohtas.
        </span>
      </div>
    </div>
    <!-- <div class="col-md-4">
    <span class="hipster1 img-fluid rounded"></span> 
  </div> -->
</div>

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-warning">
      <p class="lead">We are on a mission</p>
      <ul>
        <li><p class="lead">Mission to spread unconditional Love</p></li>
        <li><p class="lead">Love that will Illuminate Mind</p></li>
        <li><p class="lead">Illuminated Mind that will seek Education</p></li>
        <li><p class="lead">Education that will build Humanity</p></li>
      </ul>

      <p class="lead">Welcome OnBoard!</p>

      <p class="lead">For us LEARN means : Love which Empowers to be Ambitious giving Results and building Next set of leaders</p>
    </div>
 </div>
</div>

        <div class="row">
        <div class="col-md-12">
              <div class="card-body">
                <h4 class="card-title">Building</h4>
                <p class="card-text">
                WE HAVE SPACIOUS CLASSROOMS THAT ARE WELL APPOINTED WITH VARIOUS AMENITIES AND FACILITIES. WE HAVE SEPERATE COMPUTER LAB, SCIENCE LAB, LIBRARY AND AUDIO-VISUAL ROOM FOR THE ALL-ROUND DEVELOPMENT OF STUDENTS.
                </p>
              </div>
        </div>
        
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/bldg_front.JPG"
                   alt="Card image cap">
             </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/main-bldg_front_and_side.JPG"
                   alt="Card image cap">
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/playground.JPG"
                   alt="Card image cap">
            </div>
          </div>
        </div>

        <div class="row">
        <div class="col-md-12">
              <div class="card-body">
                <h4 class="card-title">Assembly</h4>
                <p class="card-text">
THE SCHOOL ASSEMBLY IS NOT LIMITED TO SCHOOL PRAYER ONLY BUT WE FOCUS ON IMPARTING VALUE AND MORAL EDUCATION TO OUR STUDENTS AND ALSO FOCUS ON THEIR HOLISTIC DEVELOPMENT THROUGH VARIOUS ACTIVITIES.                </p>
              </div>
        </div>
        
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/assembly.jpg"
                   alt="Card image cap">
             </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/assembly.jpg"
                   alt="Card image cap">
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/assembly.jpg"
                   alt="Card image cap">
            </div>
          </div>
        </div>
        
                <div class="row">
        <div class="col-md-12">
              <div class="card-body">
                <h4 class="card-title">Playground</h4>
                <p class="card-text">
THE SCHOOL CAMPUS IS SPREAD OVER 2 ACRES OF LAND WHICH COMPRISES OF ENOUGH OPEN SPACE FOR STUDENTS TO USE AS PLAYGROUND FOR DIFFERENT SPORTS ACTIVITIES.                </p>
              </div>
        </div>
        
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/playground2.JPG"
                   alt="Card image cap">
             </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/playground3.JPG"
                   alt="Card image cap">
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/playground4.JPG"
                   alt="Card image cap">
            </div>
          </div>
        </div>
        
                <div class="row">
        <div class="col-md-12">
              <div class="card-body">
                <h4 class="card-title">Library</h4>
                <p class="card-text">
WE HAVE A WELL EQUIPPED LIBRARY WITH ALL KINDS OF COURSE BOOKS, STORY BOOKS, JOURNALS, DICTIONARIES, ATLAS AND REFERENCE BOOKS FOR ALL THE CLASSES.                </p>
              </div>
        </div>
        
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/library.JPG"
                   alt="Card image cap">
             </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/library2.JPG"
                   alt="Card image cap">
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/library.JPG"
                   alt="Card image cap">
            </div>
          </div>
        </div>
        
                <div class="row">
        <div class="col-md-12">
              <div class="card-body">
                <h4 class="card-title">Computer Lab</h4>
                <p class="card-text">
KNOWLEDGE OF COMPUTER AND BEING UPDATED WITH TECHNOLOGY IS VERY IMPORTANT FOR STUDENTS TO EXCEL IN TODAY’S WORLD. WE HAVE A WELL EQUIPPED COMPUTER LAB AND AUDIO-VISUAL ROOM FOR THE SAME.                </p>
              </div>
        </div>
        
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/computerlab2.JPG"
                   alt="Card image cap">
             </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/computerlab2.JPG"
                   alt="Card image cap">
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/computerlab2.JPG"
                   alt="Card image cap">
            </div>
          </div>
        </div>
        
                <div class="row">
        <div class="col-md-12">
              <div class="card-body">
                <h4 class="card-title">Science Lab</h4>
                <p class="card-text">
ONLY THEORY KNOWLEDGE IS NOT SUFFICIENT FOR A STUDENT TO UNDERSTAND ANY TOPIC PROPERLY. DOING PRACTICALS AND EXPERIMENTS IS IMPORTANT TO MAKE A DEEP IMPRESSION ON THEIR MINDS AND BRING THE SCIENTISTS OUT OF THEM. WE HAVE A WELL EQUIPPED SCIENCE LAB FOR THE SAME.                </p>
              </div>
        </div>
        
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/chemistry-lab.JPG"
                   alt="Card image cap">
             </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/science-lab-bio.JPG"
                   alt="Card image cap">
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../content/images/science-lab-bio.JPG"
                   alt="Card image cap">
            </div>
          </div>
        </div>


  
  