<div>
  <h2 id="page-heading" data-cy="StudentChargesSummaryHeading">
    <span jhiTranslate="manageitApp.studentChargesSummary.home.title">Student Charges Summaries</span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="studentChargesSummaries?.length === 0">
    <span jhiTranslate="manageitApp.studentChargesSummary.home.notFound">No studentChargesSummaries found</span>
  </div>

  <!-- This is to fetch all classes for a school and then to fetch all students in that class , this will be modularised later, JS is modular, for UI there is some issue -->
  <div class="d-flex flex-row">
    <select
      class="form-control"
      id="field_studentClass"
      data-cy="studentClass"
      [(ngModel)]="selectedClassId"
      (change)="loadAllStudentsForAClass()"
      name="schoolClassFilter"
    >
      <option [ngValue]="undefined" hidden>Select Class</option>
      <option *ngFor="let studentClassOption of schoolClasses; trackBy: trackFilterClassById" [ngValue]="studentClassOption.id">
        {{ studentClassOption.className }}
      </option>
    </select>
  </div>
  <div class="d-flex flex-row">
    <select
      class="form-control"
      id="field_schoolStudent"
      data-cy="schoolStudent"
      [(ngModel)]="selectedStudentId"
      (change)="loadAllFinancialSummariesForAStudent()"
      name="classStudentFilter"
    >
      <option [ngValue]="undefined" hidden>Select Student</option>
      <option
        *ngFor="let schoolStudentOption of classStudentsForAClass; trackBy: trackFilterStudentId"
        [ngValue]="schoolStudentOption.studentId"
      >
        {{ schoolStudentOption.studentId }} -- {{ schoolStudentOption.firstName }}
      </option>
    </select>
  </div>
  <!-- School class and class student filter ends here -->

  <div class="table-responsive" id="entities" *ngIf="studentChargesSummaries && studentChargesSummaries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
          <th scope="col" jhiSortBy="classStudent.id">
            <span jhiTranslate="manageitApp.studentChargesSummary.classStudent">Class Student</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="summaryType">
            <span jhiTranslate="manageitApp.studentChargesSummary.summaryType">Summary Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="aprSummary">
            <span jhiTranslate="manageitApp.studentChargesSummary.aprSummary">Apr Summary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="maySummary">
            <span jhiTranslate="manageitApp.studentChargesSummary.maySummary">May Summary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="junSummary">
            <span jhiTranslate="manageitApp.studentChargesSummary.junSummary">Jun Summary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="julSummary">
            <span jhiTranslate="manageitApp.studentChargesSummary.julSummary">Jul Summary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="augSummary">
            <span jhiTranslate="manageitApp.studentChargesSummary.augSummary">Aug Summary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sepSummary">
            <span jhiTranslate="manageitApp.studentChargesSummary.sepSummary">Sep Summary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="octSummary">
            <span jhiTranslate="manageitApp.studentChargesSummary.octSummary">Oct Summary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="novSummary">
            <span jhiTranslate="manageitApp.studentChargesSummary.novSummary">Nov Summary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="decSummary">
            <span jhiTranslate="manageitApp.studentChargesSummary.decSummary">Dec Summary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="janSummary">
            <span jhiTranslate="manageitApp.studentChargesSummary.janSummary">Jan Summary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="febSummary">
            <span jhiTranslate="manageitApp.studentChargesSummary.febSummary">Feb Summary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="marSummary">
            <span jhiTranslate="manageitApp.studentChargesSummary.marSummary">Mar Summary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let studentChargesSummary of studentChargesSummaries; trackBy: trackId"
          data-cy="entityTable"
          ng-class="{'green': studentChargesSummary.summaryType === 'Payments', 'red': studentChargesSummary.summaryType === 'Closing Balance'"
        >
          <td>
            <div *ngIf="studentChargesSummary.classStudent">
              <a [routerLink]="['/class-student', studentChargesSummary.classStudent?.id, 'view']">
                {{ studentChargesSummary.classStudent?.studentId }} -- {{ studentChargesSummary.classStudent?.firstName }}</a
              >
            </div>
          </td>
          <td>{{ studentChargesSummary.summaryType }}</td>
          <td>{{ studentChargesSummary.aprSummary }}</td>
          <td>{{ studentChargesSummary.maySummary }}</td>
          <td>{{ studentChargesSummary.junSummary }}</td>
          <td>{{ studentChargesSummary.julSummary }}</td>
          <td>{{ studentChargesSummary.augSummary }}</td>
          <td>{{ studentChargesSummary.sepSummary }}</td>
          <td>{{ studentChargesSummary.octSummary }}</td>
          <td>{{ studentChargesSummary.novSummary }}</td>
          <td>{{ studentChargesSummary.decSummary }}</td>
          <td>{{ studentChargesSummary.janSummary }}</td>
          <td>{{ studentChargesSummary.febSummary }}</td>
          <td>{{ studentChargesSummary.marSummary }}</td>
          <td class="text-right"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
