<div>
  <h2 id="page-heading" data-cy="AuditLogHeading">
    <span jhiTranslate="manageitApp.auditLog.home.title">Audit Logs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="manageitApp.auditLog.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-audit-log"
        [routerLink]="['/audit-log/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="manageitApp.auditLog.home.createLabel"> Create a new Audit Log </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="auditLogs?.length === 0">
    <span jhiTranslate="manageitApp.auditLog.home.notFound">No auditLogs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="auditLogs && auditLogs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="userName">
            <span jhiTranslate="manageitApp.auditLog.userName">User Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userDeviceDetails">
            <span jhiTranslate="manageitApp.auditLog.userDeviceDetails">User Device Details</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="action">
            <span jhiTranslate="manageitApp.auditLog.action">Action</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="data1">
            <span jhiTranslate="manageitApp.auditLog.data1">Data 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="data2">
            <span jhiTranslate="manageitApp.auditLog.data2">Data 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="data3">
            <span jhiTranslate="manageitApp.auditLog.data3">Data 3</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createDate">
            <span jhiTranslate="manageitApp.auditLog.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="manageitApp.auditLog.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cancelDate">
            <span jhiTranslate="manageitApp.auditLog.cancelDate">Cancel Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="school.id">
            <span jhiTranslate="manageitApp.auditLog.school">School</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="schoolUser.id">
            <span jhiTranslate="manageitApp.auditLog.schoolUser">School User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auditLog of auditLogs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/audit-log', auditLog.id, 'view']">{{ auditLog.id }}</a>
          </td>
          <td>{{ auditLog.userName }}</td>
          <td>{{ auditLog.userDeviceDetails }}</td>
          <td>{{ auditLog.action }}</td>
          <td>{{ auditLog.data1 }}</td>
          <td>{{ auditLog.data2 }}</td>
          <td>{{ auditLog.data3 }}</td>
          <td>{{ auditLog.createDate | formatMediumDate }}</td>
          <td>{{ auditLog.lastModified | formatMediumDate }}</td>
          <td>{{ auditLog.cancelDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="auditLog.school">
              <a [routerLink]="['/school', auditLog.school?.id, 'view']">{{ auditLog.school?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="auditLog.schoolUser">
              <a [routerLink]="['/school-user', auditLog.schoolUser?.id, 'view']">{{ auditLog.schoolUser?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/audit-log', auditLog.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/audit-log', auditLog.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(auditLog)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="auditLogs && auditLogs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
